<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form method="post">
        <p>
            <label>
                Név: <br>
                <input type="text" name="name">
            </label>
        </p>
        <p>
            <label>
                Típus: <br>
                <input type="text" name="type">
            </label>
        </p>
        <p>
            <label>
                Szín: <br>
                <input type="color" name="color">
            </label>
        </p>
        <p>
            <label>
                Ár: <br>
                <input type="number" name="cost">
            </label>
        </p>
        <p>
            <label>
                Töltöttség: <br>
                <input type="number" name="power">
            </label>
        </p>
        <p>
            <select name="state">
                <option value="factorynew">Új</option>
                <option value="fieldtested">Újszerű</option>
                <option value="battlescared">Karcos</option>
            </select>
        </p>
        <p>
            <input type="submit" value="ok">
        </p>
    </form>


  </body>
</html>